header{
  height: 120px;
  background: #87CEFA;
  box-shadow: 10px 0 8px 8px rgba(0, 0, 0, 0.2);
}
.selector{
  width: 240px;
  text-align: center;
  margin-left: 20px;
  div{
    position: relative;
    z-index: 1000;
    background: white;
    font-size: 24px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  h1{
    font-size: 29px;
    padding-top: 35px;
    &:hover{
      color: #FFFFFF;
      transition-duration: .3s;
      cursor: pointer;
    }
  }
}
.ul_selector{
  list-style-type:none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #A9A9A9;
  li{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0px;
    }
    &:hover{
      cursor: pointer;
      color: #000000;
    }
  }
}
.selectors{
  display: flex;
  margin-top: 10px;
}
.head{
  display: flex;

  justify-content: space-between;
  img{
    margin-top: 20px;
    margin-left:30px;
    width: 80px;
    height: 80px;
  }
}
