.container{
  width: 1600px;
  margin: auto;
  margin-top: 50px;
}
.film-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 491px;
}
.film{
  width: 380px;
  margin-bottom: 80px;
  margin-right: 10px;
  margin-left: 10px;
  &:hover{
    transition-duration: .3s;
    background: #A9A9A9;
    box-shadow: 10px 8px 6px 6px rgba(0, 0, 0, 0.2);
  }
  img{
    width: 380px;
    height: 520px;
  }
  .film_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
      display: flex;
      width: 380px;
      justify-content: space-evenly;
      margin-top: 8px;
    }
    p{
      font-size: 24px;
      color: grey;
    }
    .name{
      height: 80px;
      align-items: center;
      h1{
        font-size: 32px;
        text-align: center;
      }
    }
  }
}

.pointer{
  display: flex;
  height: 55px;
  margin-bottom: 50px;
  div{
    display: flex;
    margin-left: 10px;
    height: 53px;
    font-size: 24px;
    width: 210px;
    text-align: center;
    background-color: #87CEEB;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    &:hover{
      cursor: pointer;
      transition-duration: .4s;
      background-color: #00BFFF;
      box-shadow: 10px 8px 6px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.pagination{
  display: flex;
  font-size: 24px;
  margin-bottom: 50px;
  justify-content: center;
  div{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #00BFFF;
    border-radius: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    &:last-child{
    margin-right: 0;
    }
    &:hover{
      transition-duration: .3s;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
      background: #00BFFF;
      color:#FFFF;
    }
  }
}






.film_fullinfo{
  display: flex;
  margin-bottom: 50px;
  justify-content: space-evenly;
  img{
    width: 30%;
  }
  h1{
    font-size: 72px;
  }
  p{
    font-size: 32px;
  }
  .info{
    width: 900px;
  }
}
